 html, body {

   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #161616;
   overflow: hidden;
   transform: scale(1.5);

}

.btn{

   padding: 15px 40px;
   border: none;
   outline: none;
   color: #611c1c;
   cursor: pointer;
   position: relative;
   z-index: 0;
   border-radius: 12px;

}

.btn::after{

content: "";
z-index: -1;
position: absolute;
width: 100%;
background-color: #333;
left: 0;
top: 0;
border-radius: 10px;

}

.btn::before{

content: "";
background: linear-gradient(
45deg,
#ff000f, #ff7300, #fff800, #48ff00,
#00ffd5, #0028ff, #ff00c8, #ff98ff
);
position: absolute;
top: -2px;
left: -2px;
background-size: 600%;
z-index: -1;
width: calc(100% + 4px);
height: calc(100% + 4px);
filter: blur(8px);
transition: opacity .3s ease-in-out;
border-radius: 10px;
opacity: 0;
}

@keyframes glowing{
   
   0%{background-position: 0 0;}
   50%{background-position: 400% 0;}
   100%{background-position: 0 0;}
}

.btn:hover::before{
    
   opacity: 1;
}

.btn:active::after{

    background: transparent;
}

.btn:active{

    color: #000;
}