body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #ff9a9e 0%, #fecfef 100%); /* Vibrant gradient background */
    margin: 0;
}

.stanley-container {
    width: 250px;
    height: 450px;
    position: relative;
    display: flex;
    justify-content: center;
}

.tumbler-base {
    width: 150px;
    height: 350px;
    background-color: #24db76; 
    border-radius: 15px 15px 75px 75px;
    position: absolute;
    bottom: 0;
    box-shadow: 0 10px 40px rgba(58, 3, 5, 0.5); 
    border: 3px solid #fff;
}

.tumbler-main {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.handle {
    width: 40px;
    height: 150px;
    background-color: #dc6911; 
    border-radius: 20px;
    position: absolute;
    right: -50px;
    top: 100px;
    border: 5px solid #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.lid {
    width: 160px;
    height: 40px;
    background-color: #fff; 
    border-radius: 50% / 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: inset 0 -5px 15px rgba(0, 0, 0, 0.2);
}

.straw-hole {
    width: 10px;
    height: 10px;
    background-color: #2c1f93;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 20px;
}

.straw {
    width: 12px;
    height: 150px;
    background-color: #00ffff; 
    position: absolute;
    top: -180px;
    left: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px #00ffff; 
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-shadow: 
        0 0 5px #fff, 
        0 0 10px #fff, 
        0 0 15px #692389, 
        0 0 20px #2fb055; 
    opacity: 0.8;
}
